body{
    margin:0;
    box-sizing: border-box;
}

#bakgrunn {
    position: relative;
    background-color: #422433;
    width: 800px;
    height:500px;
    margin:auto;
    margin-top:75px;
}

#sirkler{
    position: absolute;
    top:0;
    left:6px;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(22,1fr);
    grid-template-rows: repeat(14,1fr);
}

#sirkler div{
    background-color: #6F364E;
    height:22px;
    width:22px;
    border-radius: 50%;
    margin-top:10px;
}